body {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    background-color: #F8C1CD;
}

.footer{
    background-color: #B7DCAB;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: 0 -20px 25px #B7DCAB;
    position: relative; 
    z-index: 1;
    transform: translateZ(0);
}

.nav-container .logo a, .logo .icon {
    color: #B7DCAB;
    text-shadow:
        -1px -1px 0 #7EB877,  
         1px -1px 0 #7EB877,
        -1px  1px 0 #7EB877,
         1px  1px 0 #7EB877,
         2px 4px 5px rgba(0, 0, 0, .3);
}

.info .nav-link {
    color: #B7DCAB;
    text-shadow:
        -1px -1px 0 #7EB877,  
         1px -1px 0 #7EB877,
        -1px  1px 0 #7EB877,
         1px  1px 0 #7EB877,
         2px 4px 5px rgba(0, 0, 0, .3);
}

.icons .nav-link {
    color: #B7DCAB;
    text-shadow:
        -1px -1px 0 #7EB877,  
         1px -1px 0 #7EB877,
        -1px  1px 0 #7EB877,
         1px  1px 0 #7EB877,
         2px 4px 5px rgba(0, 0, 0, .3);
}


.opl-name {
    width: 268px;
    height: 50px;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    margin-left: 155px;
    margin-top: 30px;
    font-family: var(--ff);
    color: #B7DCAB;
    text-shadow:
        -1px -1px 0 #7EB877,  
         1px -1px 0 #7EB877,
        -1px  1px 0 #7EB877,
         1px  1px 0 #7EB877;
    display: inline-flex;
    align-items: center;  
    gap: 2px;
}

.opl-name .icon {
    position: relative;
    top: 8px;
    margin-top: 0; 
    height: 1.5em;
    width: auto;
}

.opl-info {
    width: 1000px;
    font-size: 24px;
    font-weight: medium;
    text-align: left;
    margin-left: 155px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: var(--ff);
    color: #fff;
    text-shadow:
        -1px -1px 0 #7EB877,  
         1px -1px 0 #7EB877,
        -1px  1px 0 #7EB877,
         1px  1px 0 #7EB877;
}

.opl-item {
    font-size: 24px;
    font-weight: medium;
    text-align: left;
    font-family: var(--ff);
    margin-left: 200px;
    color: #fff;
    text-shadow:
        -1px -1px 0 #7EB877,  
         1px -1px 0 #7EB877,
        -1px  1px 0 #7EB877,
         1px  1px 0 #7EB877;
    margin-bottom: 15px; 
    width: 1320px;
}

.name{
    font-size: 18px;
    text-align: right;
    color: #41d111;
    margin-top: 20px;
    margin-right: 45px;
    font-family: var(--ff);
}

