:root {
    --ff: 'Montserrat Alternates', sans-serif;


    --clr-bg: #fcccd6;
    --clr-accent: #E3ABB3;
    --clr-accent-hover: #e0949e;
    --clr-green: #B7DCAB;
    --clr-green-dark: #7EB877;
    --clr-text: #7a8a67;
    --clr-white: #ffffff;
}

body {
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fcccd6;
    color: #7a8a67;
    overflow-x: hidden;
}

.logo a {
    color: #B7DCAB !important;
    text-shadow:
        -1px -1px 0 #7EB877,  
        1px -1px 0 #7EB877,
        -1px  1px 0 #7EB877,
        1px  1px 0 #7EB877,
        2px 4px 5px rgba(0, 0, 0, .3) !important;
}

.nav-link {
    color: var(--clr-green) !important;
    text-shadow:
        -1px -1px 0 var(--clr-green-dark),  
        1px -1px 0 var(--clr-green-dark),
        -1px  1px 0 var(--clr-green-dark),
        1px  1px 0 var(--clr-green-dark),
        2px 4px 5px rgba(0, 0, 0, .3) !important;
   
}



.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto 20px;
    gap: 10px;
}

.search-bar input {
    width: 50%;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    outline: none;
    background: #B7DCAB99;
    color: var(--clr-text);
    font-size: 16px;
    transition: 0.3s;
}

.search-bar input:focus {
    background: #B7DCABcc;
}

.search-bar button {
    border: none;
    background: #B7DCAB99;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: transform 0.2s ease, background 0.3s;
}

.search-bar button:hover {
    background: #B7DCABcc;
    transform: scale(1.1);
}

.search-bar button img {
    width: 30px;
    height: 30px;
}

.filt h3 {
    font-size: 35px;
    text-align: center;
    color: var(--clr-green);
    -webkit-text-stroke: 1.2px var(--clr-green-dark);
    margin-top: 20px;
}

.filters {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 30px 0;
}

.filters select {
    padding: 15px 35px;
    border-radius: 30px;
    border: none;
    background: #B7DCAB99;
    color: #5a7757;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    transition: background 0.2s;
}

.filters select:hover {
    background: #B7DCABcc;
}


.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 0 60px;
    z-index: 1;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card img {
    width: 250px;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
    z-index: 1;
    transition: transform 0.3s ease;
}

.card img:hover {
    transform: scale(1.03);
}

.price {
    background: #d8e4b8;
    border: 2px solid #f8a8c1;
    border-radius: 20px;
    display: inline-block;
    padding: 5px 20px;
    margin-top: 10px;
    font-weight: 600;
    color: var(--clr-text);
    cursor: pointer;
}

.btn {
    display: block;
    margin: 100px auto 50px;
    font-size: 18px;
    font-weight: 600;
    color: var(--clr-white);
    background-color: var(--clr-accent);
    width: 200px;
    height: 50px;
    border-radius: 83px;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--clr-accent-hover);
    transform: scale(1.05);
}

.consult {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
    color: #f8f8f8;
    font-family: 'Montserrat Alternates', sans-serif;
    z-index: 1;
}

.consult p {
    margin: 5px 0;
    font-size: 34px;
    font-weight: 500;
    color: #FFFFFF;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -webkit-text-stroke: 2px #B45B66;
    z-index: 1;
}