body {
    background: radial-gradient(circle, #CAD4B5 10%, #CAD4B5 80%, #ffd6df 100%);
}


.order-title {
    font-size: 30px;
    font-weight: medium;
    color: #000;
    margin-bottom: 79px;
    margin-left: 200px;
} 

.payment-main-container {
    width: 100%;
    max-width: 800px; 
    margin: 30px auto; 
    padding: 0 15px; 
    flex-grow: 1; 
    font-family: 'Montserrat Alternates', sans-serif;
}

/* виджет оплаты */
.payment-widget {
    background-color: #E4ABB391; 
    border-radius: 25px;
    padding: 30px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto auto auto auto; 
    gap: 18px; 
}


.card-number {
    grid-column: 1 / 3; 
    grid-row: 1;
}

.total-due {
    grid-column: 3 / 4;
    grid-row: 1;
    justify-self: start;
    margin: 0;
    padding-top: 15px; 
}

.expiry-date {
    grid-column: 1 / 2;
    grid-row: 2;
}

.cvv {
    grid-column: 2 / 3;
    grid-row: 2;
}

.card-holder {
    grid-column: 1 / 3;
    grid-row: 3;
}

.pay-button {
    grid-column: 1 / 4;
    grid-row: 4;
    justify-self: center;
    margin-top: 10px; 
}

.payment-widget input[type="text"] {
    background-color: rgba(202, 211, 181, 0.8);
    border: none;
    border-radius: 8px;
    padding: 18px 15px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
}

.payment-widget input[type="text"]::placeholder {
    color: #fff;
    opacity: 1; 
}

.total-due {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
}

.total-due span {
    font-weight: 700; 
}

.pay-button {
    background-color: #e6a7b7; 
    color: #f0f0f0; 
    border: none;
    border-radius: 30px; 
    padding: 14px 45px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: medium;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.pay-button:hover {
    background-color: #F8C1CD; 
}

