{% extends "shop/base.html" %}
{% block css_links %}
{% load static %}
<link rel="stylesheet" href="{% static "cart/css/cart.css" %}">
{% endblock css_links %}

{% block logo_img %}
<img src="{% static "shop/images/pinkVector.png" %}" alt="і" class="icon">ти
{% endblock logo_img %}

{% block content %}
 
    <main class="main">
        <p class="main-word">Кошик</p>

        <div class="content">
            <form class="order-data" method="POST" action="{% url "cart:cart" %}">
                {% csrf_token %}

                <div class="user-data">
                    <p class="user-data-word">1. Ваші дані</p>
                    <div class="user-data-form">
                        <div class="inputs">
                            <div class="input-name">
                                <span>Ім'я</span>
                                {{order_form.user_name}}
                            </div>
                            <div class="input-tel">
                                <span>Номер телефону</span>
                                {{order_form.user_tel}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="add-info">
                    <p class="add-info-word">2. Кому доставити</p>
                    <div class="form-box">
                       
                        <div class="toggle-buttons">
                            <button type="button" name="delivery_to_me" class="active">Мені</button>
                            <button type="button" name="delivery_to_other">Отримувачу</button>
                        </div>

                        <div class="inputs">
                            <div class="row">
                                {{order_form.recipient_name}} 
                                {{order_form.recipient_phone}}    
                            </div>
                        </div>

                        <div class="checkbox">
                            {{order_form.add_card}}
                            <label for="card">Листівка <span class="price">+29грн</span></label>
                        </div>

                        {{order_form.card_message}}
                    </div>
                </div>

                <div class="delivery">
                    <p class="delivery-word">3. Куди доставити</p>
                    <div class="delivery-options">
                        

                        <p class="subtitle">Спосіб доставки</p>

                        <div class="delivery-box active">
                            <div class="select-wrapper">
                                {{ order_form.delivery_method }}
                            </div>
                            <div class="inputs">
                                {{order_form.street}}
                                <div class="row">
                                    {{order_form.house}}
                                    {{order_form.apartment}}
                                </div>
                                <label class="checkbox">
                                    {{order_form.unknown_address}} Я не знаю адресу
                                </label>

                                <div class="unknown-message hidden">
                                    <p>Не хвилюйтесь! Ми самостійно зв’яжемося з отримувачем для уточнення адреси)</p>
                                </div>

                                <div class="pickup-address hidden">
                                    <p>м. Дніпро, вул. Центральна, 15 (магазин "єКвіти")</p>
                                </div>

                                <div class="row">
                                    {{order_form.date}}
                                    {{order_form.time}}    
                                </div>
                            </div>
                        </div>

                        <p class='empty-address'>Не забудьте указати усі дані адреси!</p>

                    </div>
                </div>

                {% if cart|length >= 1 %}
                <div class="submit-order">
                    <button class="submit-order-btn" name='proceed-to-checkout' type='submit'>
                            Оформити замовлення
                    </button>
                </div>
                {% else %}
                <div class="submit-order">
                    <p>Знайдіть ідеальний букет для когось особливого</p>
                    <a href="{% url "shop:main" %}">Перейти до каталогу...</a>
                </div>
                {% endif %}

            </form>

            <section class="order-content">
                <div class="order">
                    <p class="order-content-word">Ваше замовлення</p>
                    <div class="order-content-items">
                        {% if cart %}
                            <div class="items">
                                {% for item in cart %}
                                    <div class="item">
                                        <div class="item-details">
                                            <div class="img">
                                                <img src="{{ item.bouquet.image.url }}" alt="{{ item.bouquet.name }}" class="item-image">
                                            </div>
                                            <div class="details">
                                                <div class="flower-details">
                                                    <p class="item-name">Букет {{item.bouquet.name }}</p>
                                                    <form class="quantity-form" method="POST" action="{% url "cart:cart" %}">
                                                        {% csrf_token %}
                                                        <button type="submit" name="decrease" class="minus-btn">−</button>
                                                        <input type="number" name="quantity" class="number" value="{{item.quantity}}" min="1" readonly>
                                                        <input type="hidden" name="bouquet_id" value="{{item.bouquet.id}}">
                                                        <button type="submit" name="increase" class="plus-btn">+</button>
                                                    </form>
                                                </div>
                                                <div class="flower-price">
                                                    <span class="price">{{item.price|floatformat:0}} грн</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="remove">
                                            <form action="{% url "cart:cart" %}" method="POST" class="remove-form">
                                                {% csrf_token %}
                                                <input type="hidden" name="bouquet_id" value="{{item.bouquet.id}}">
                                                <button type='submit' name="remove" class="remove-btn">×</button>
                                            </form>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="total">
                                <span>Загальна вартість:</span>
                                <span class="price">{{ cart.get_total_price|floatformat:0 }} грн</span>
                            </div>
                        {% else %}        
                            <div class="total">
                                <p class="empty">Ваш кошик порожній!</p>
                            </div>
                        {% endif %}
                    </div>
                </div> 

                <div class="suggestions">
                    <p class="suggestions-word">Може вам сподобатись</p>
                    <div class="suggested-items">
                        {% for bouquet in suggested %}
                            <div class="suggested-item">
                                <img src="{{bouquet.image.url}}" alt="{{bouquet.name}}" class="suggested-item-image">
                                <div class="item-details">
                                    <div class="item-text">
                                        <p class="item-name">Букет {{bouquet.name}}</p>
                                        <div class="product-price">
                                            {% if bouquet.new_price %}
                                                <span class="old-price">{{ bouquet.price|floatformat:0 }} грн</span>
                                                <span class="new-price">{{ bouquet.new_price|floatformat:0 }} грн</span>
                                                <span class="discount-badge">-{{ bouquet.discount|floatformat:0 }}%</span>
                                            {% else %}
                                                <span class="new-price">{{ bouquet.price|floatformat:0 }} грн</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <form class="add-to-cart-form" method="post" action="{% url "cart:cart" %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="bouquet_id" value="{{bouquet.id}}">
                                        <button type="submit" name="add-to-cart" class="add-to-cart-btn">Додати в кошик</button>
                                    </form>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="btn">
                        <a href="{% url "shop:main" %}">
                            <button>Дивитися ще</button>
                        </a>
                    </div>
                </div>

            </section>

        </div>

    </main>

{% endblock content %} 

{% block scripts %}
    <script src="{% static "cart/js/cart.js" %}"></script>
{% endblock scripts %} 

