{% extends "shop/base.html" %}
{% block css_links %}
{% load static %}
<link rel="stylesheet" href="{% static "cart/css/cart.css" %}">
{% endblock css_links %}

{% block content %}

    <main class="main">
        <p class="main-word">Кошик</p>

        <div class="content">
            <section class="order-data">

                <div class="user-data">
                    <p class="user-data-word">1. Ваші дані</p>
                    <form action="#" class="user-data-form" method="post">
                        {% csrf_token %}
                        <div class="inputs">
                            <div class="input-name">
                                <span>Ім'я</span>
                                <input type="text" name="user_name" class="user-data-input" required>
                            </div>
                            <div class="input-tel">
                                <span>Номер телефону</span>
                                <input type="tel" name="user_tel" class="user-data-input" required>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="add-info">
                    <p class="add-info-word">2. Кому доставити</p>
                    <form class="form-box" method="post" action="#">

                        {% csrf_token %}
                        <div class="toggle-buttons">
                            <button type="button" name="delivery_to_me" class="active">Мені</button>
                            <button type="button" name="delivery_to_other">Отримувачу</button>
                        </div>

                        <div class="inputs">
                            <div class="row">
                                <input type="text" placeholder="Ім’я" name="recipient_name">
                                <input type="text" placeholder="Номер телефону" name="recipient_phone">
                            </div>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" id="card" name="add_card" checked>
                            <label for="card">Листівка <span class="price">+29грн</span></label>
                        </div>

                        <textarea name="card_message" placeholder="Введіть текст листівки..."></textarea>
                    </form>
                </div>

                <div class="delivery">
                    <p class="delivery-word">3. Куди доставити</p>
                    <form class="delivery-options" method="post" action="#">
                        {% csrf_token %}

                        <p class="subtitle">Спосіб доставки</p>

                        <div class="delivery-box active standard">
                            <label class="checkbox">
                                <input type="radio" name="delivery_method" id="standard" value="standard" checked>
                                <span>Стандартна | ~ 2 години</span>
                            </label>

                            <div class="inputs">
                                <input type="text" name="street_standard" placeholder="Вулиця">
                                <div class="row">
                                    <input type="text" name="house_standard" placeholder="Будинок">
                                    <input type="text" name="apartment_standard" placeholder="Квартира/Офіс">
                                </div>
                                <label class="checkbox">
                                    <input type="checkbox" name="unknown_address_standard"> Я не знаю адресу
                                </label>

                                <div class="unknown-message hidden">
                                    <p>Не хвилюйтесь! Ми самостійно зв’яжемося з отримувачем для уточнення адреси.</p>
                                </div>

                                <div class="row">
                                    <input type="text" name="date_standard" placeholder="Дата">
                                    <input type="text" name="time_standard" placeholder="Період">
                                </div>
                            </div>
                        </div>

                        <div class="delivery-box exact-time">
                            <label class="checkbox">
                                <input type="radio" name="delivery_method" id="exact-time" value="exact-time">
                                <span>В точний час | 99 грн</span>
                            </label>
                            <div class="inputs">
                                <input type="text" name="street_exact" placeholder="Вулиця">
                                <div class="row">
                                    <input type="text" name="house_exact" placeholder="Будинок">
                                    <input type="text" name="apartment_exact" placeholder="Квартира/Офіс">
                                </div>
                                <label class="checkbox">
                                    <input type="checkbox" name="unknown_address_exact"> Я не знаю адресу
                                </label>

                                <div class="unknown-message hidden">
                                    <p>Не хвилюйтесь! Ми самостійно зв’яжемося з отримувачем для уточнення адреси)</p>
                                </div>

                                <div class="row">
                                    <input type="text" name="date_exact" placeholder="Дата">
                                    <input type="text" name="time_exact" placeholder="Період">
                                </div>
                            </div>
                        </div>

                        <div class="delivery-box express">

                            <label class="checkbox">
                                <input type="radio" name="delivery_method" id="express" value="express">
                                <span>Експрес | ~30 хвилин 99 грн</span>
                            </label>
                            
                            <div class="inputs">
                                <input type="text" name="street_express" placeholder="Вулиця">
                                <div class="row">
                                    <input type="text" name="house_express" placeholder="Будинок">
                                    <input type="text" name="apartment_express" placeholder="Квартира/Офіс">
                                </div>
                                <label class="checkbox">
                                    <input type="checkbox" name="unknown_address_express"> Я не знаю адресу
                                </label>

                                <div class="unknown-message hidden">
                                    <p>Не хвилюйтесь! Ми самостійно зв’яжемося з отримувачем для уточнення адреси)</p>
                                </div>

                                <div class="row">
                                    <input type="text" name="date_express" placeholder="Дата">
                                    <input type="text" name="time_express" placeholder="Період">
                                </div>
                            </div>
                        </div>

                        <div class="delivery-box self-pickup">
                            <label class="checkbox">
                                <input type="radio" name="delivery_method" id="self-pickup" value="self-pickup">
                                <span>Самовивіз | Безкоштовно</span>
                            </label>

                            <div class="inputs">
                                <div class="row">
                                    <input type="text" name="date_express" placeholder="Дата">
                                    <input type="text" name="time_express" placeholder="Період">
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

            </section>

            <section class="order-content">
                <div class="order">
                    <p class="order-content-word">Ваше замовлення</p>
                    <div class="order-content-items">
                        <div class="items">
                            <div class="item">
                                <div class="item-details">
                                    <div class="img">
                                        <img src="../css_files/bouqet.png" alt="item" class="item-image">
                                    </div>
                                    <div class="details">
                                        <div class="flower-details">
                                            <p class="item-name">Букет "Романтика"</p>
                                            <form class="quantity-form" method="POST" action="#">
                                                {% csrf_token %}
                                                <button type="button" name="decrease_quantity" class="minus-btn">−</button>
                                                <input type="number" name="quantity" class="number" value="1" min="1" readonly>
                                                <button type="button" name="increase_quantity" class="plus-btn">+</button>
                                            </form>
                                        </div>
                                        <div class="flower-price">
                                            <span class="price">799 грн</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="remove">
                                    <form action="#" method="POST" class="remove-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{product.id}}">
                                        <button type='submit' name='toggle-cart' class="remove-btn">×</button>
                                    </form>
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-details">
                                    <div class="img">
                                        <img src="../css_files/bouqet.png" alt="item" class="item-image">
                                    </div>
                                    <div class="details">
                                        <div class="flower-details">
                                            <p class="item-name">Букет "Романтика"</p>
                                            <form class="quantity-form" method="POST" action="#">
                                                {% csrf_token %}
                                                <button type="button" name="decrease_quantity" class="minus-btn">−</button>
                                                <input type="number" name="quantity" class="number" value="1" min="1" readonly>
                                                <button type="button" name="increase_quantity" class="plus-btn">+</button>
                                            </form>
                                        </div>
                                        <div class="flower-price">
                                            <span class="price">799 грн</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="remove">
                                    <form action="#" method="POST" class="remove-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{product.id}}">
                                        <button type='submit' name='toggle-cart' class="remove-btn">×</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="total">
                            <span>Загальна вартість:</span>
                            <span class="price">799 грн</span>
                        </div>

                        <div class="total">
                            <p class="empty">Ваш кошик порожній!</p>
                        </div>

                    </div>
                </div>

                <div class="suggestions">
                    <p class="suggestions-word">Може вам сподобатись</p>
                    <div class="suggested-items">
                        <div class="suggested-item">
                            <img src="../css_files/bouqet.png" alt="suggested item" class="suggested-item-image">
                            <div class="item-details">
                                <div class="item-text">
                                    <p class="item-name">Букет "Романтика"</p>
                                    <span class="price">799 грн</span>
                                </div>
                                <form class="add-to-cart-form" method="post" action="#">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{product.id}}">
                                    <button type="submit" name="add_to_cart" class="add-to-cart-btn">Додати в кошик</button>
                                </form>
                            </div>
                        </div>
                        <div class="suggested-item">
                            <img src="../css_files/bouqet.png" alt="suggested item" class="suggested-item-image">
                            <div class="item-details">
                                <div class="item-text">
                                    <p class="item-name">Букет "Романтика"</p>
                                    <span class="price">799 грн</span>
                                </div>
                                <form class="add-to-cart-form" method="post" action="#">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{product.id}}">
                                    <button type="submit" name="add_to_cart" class="add-to-cart-btn">Додати в кошик</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="btn">
                        <a href="#">
                            <button>Дивитися ще</button>
                        </a>
                    </div>
                </div>

                <div class="submit-order">
                    <button class="submit-order-btn"><a href="#">Оформити замовлення</a></button>
                </div>

            </section>

        </div>

    </main>

{% endblock content %} 

{% block scripts %}
    <script src="{% static "cart/js/cart.js" %}"></script>
{% endblock scripts %} 

