{% extends "shop/base.html" %}
{% block css_links %}
{% load static %}
<link rel="stylesheet" href="{% static "shop/css/change_password.css" %}">
{% endblock css_links %}

{% block logo_img %}
<img src="{% static "shop/images/Vector.png" %}" alt="і" class="icon">ти
{% endblock logo_img %}

{% block content %}
    <div class="inform">
        <h1 class="info-name">Змінити пароль</h1>
        <form class="profile-form" method="POST" action="{% url "shop:change_password" %}">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="old_password">Старий пароль</label>
                {{form.old_password}}
                {{ form.old_password.errors }}
            </div>

            <div class="form-group">
                <label for="new_password1">Новий пароль</label>
                {{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>

            <div class="form-group">
                <label for="new_password2">Підтвердіть новий пароль</label>
                {{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>

            <div class="form-actions">
                <button type="submit" class="update-btn" name='update_password'>Оновити пароль</button>
            </div>

        </form>

    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
