{% extends "shop/base.html" %}
{% block css_links %}
{% load static %}
<link rel="stylesheet" href="{% static "shop/css/main.css" %}">
{% endblock css_links %}

{% block content %}
    <main class="content">
        <form method="get" action="" class="search-bar">
            <input type="text" name="q" placeholder="Пошук..." value="{{ request.GET.q }}">
            <button type="submit">
                <img src="{% static 'shop/images/str.png' %}" alt="search">
            </button>
        </form>
        <div class="filt">
            <h3>Фільтри</h3>
        </div>


        <form method="get" action="" class="filters">

            <select name="flower_type">
                <option value="">Квіти</option>
                {% for flower in flower_types %}
                    <option value="{{ flower }}" {% if request.GET.flower_type == flower %}selected{% endif %}>
                        {{ flower.name }}
                    </option>
                {% endfor %}
            </select>

            <select name="price_order">
                <option value="">Ціна</option>
                <option value="asc" {% if request.GET.price_order == 'asc' %}selected{% endif %}>Від дешевших до дорожчих</option>
                <option value="desc" {% if request.GET.price_order == 'desc' %}selected{% endif %}>Від дорожчих до дешевших</option>
            </select>

            <button type="submit" style="display:none;"></button>
            
        </form>


        <div class="products">
            {% for bouquet in bouquets %}
                <a href="{% url "shop:pro_tovar" bouquet.id %}" class="card-link">
                    <div class="card">
                        <img src="{{ bouquet.image.url }}" alt="{{ bouquet.name }}">
                        <div class="flower-name">{{ bouquet.name }}</div>
                        <div class="price">
                            {% if bouquet.new_price %}
                                <span class="old-price">{{ bouquet.price }} грн</span>
                                <span class="new-price">{{ bouquet.new_price }} грн</span>
                            {% else %}
                                {{ bouquet.price }} грн
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}
            
        </div>
    </main>


    <div class="pagination">
        {% if bouquets.has_previous %}
            <a href="?page={{ bouquets.previous_page_number }}&flower={{ selected_flower }}" class="btn">Попередня сторінка</a>
        {% endif %}
        
        <span>Сторінка {{ bouquets.number }} з {{ bouquets.paginator.num_pages }}</span>
        
        {% if bouquets.has_next %}
            <a href="?page={{ bouquets.next_page_number }}&flower={{ selected_flower }}" class="btn">Дивитися ще</a>
        {% endif %}
    </div>

    <div class="consult">
        <p>Потрібна Консультація?</p>
        <p>Дзвони +38 (095) 432 1232</p>
    </div>

{% endblock content %}
     
{% block scripts %}
    <script src="{% static "shop/js/main.js" %}"></script>
{% endblock scripts %} 