{% extends "shop/base.html" %}
{% block css_links %}
{% load static %}
<link rel="stylesheet" href="{% static "shop/css/oplata.css" %}">
{% endblock css_links %}

{% block content %}
    <main class="payment-main-container">
        <h1 class="order-title">Замовлення №35467</h1>

        <div class="payment-widget">
            
            <input class="card-number" type="text" placeholder="Номер картки">
            
            <p class="total-due">
                До сплати: <span>****</span>
            </p>

            <input class="expiry-date" type="text" placeholder="MM/DD">
            <input class="cvv" type="text" placeholder="CVV">
            
            <input class="card-holder" type="text" placeholder="Ім'я власника">

            <button class="pay-button">СПЛАТИТИ</button>
        </div>
    </main>
    <div class="bg">
        <section class="feedback-module">
            <p class="vidguk-text">Є що сказати про товар? Залишіть відгук</p> <textarea placeholder=""></textarea>
            <button type="button" class="send-button">Надіслати</button> </section>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %} 