{% extends "shop/base.html" %}
{% block css_links %}
{% load static %}
<link rel="stylesheet" href="{% static "shop/css/profile.css" %}">
{% endblock css_links %}

{% block content %}
    <div class="inform">
        <h1 class="info-name">Інформація про акаунт</h1>
        <form class="profile-form" method="POST" action="{% url "shop:profile" %}">
            {% csrf_token %}
            <div class="form-grid">
            
                <div class="form-group">
                    <label for="first_name">Ім'я</label>
                    {{edit_account_form.first_name}}
                </div>

                <div class="form-group">
                    <label for="phone">Номер телефону</label>
                    {{edit_phone_form.telephone}}
                </div>

                <div class="form-group">
                    <label for="last_name">Прізвище</label>
                    {{edit_account_form.last_name}}
                </div>

                <div class="form-group">
                    <label for="email">e-mail</label>
                    {{edit_account_form.email}}
                </div>

                <div class="form-actions">
                    <button type="submit" class="update-btn" name='update'>Оновити дані</button>
                </div>

                
                <div class="form-group logout-action">
                    <a href="{% url "shop:shop_logout" %}" class="logout-link">Вийти з акаунту <i class="bi bi-box-arrow-right"></i></a>
                </div>
                
            </div>
        </form>

        <div class="bottom-part">
            <div class="password-info">
                <div class="form-group">
                    <div class="password-label-group">
                        <a href="{% url "shop:change_password" %}">Змінити пароль</a>
                    </div>
                </div>
            </div>
    
            <div class="delete-account">
                <form class="form-group delete-action" method='POST'>
                    {% csrf_token %}
                    {{delete_user_form.as_p}}
                    <button type='submit' class="delete-link" name='delete-acc'>Видалити акаунт</button>
                </form>
            </div>
        </div>

    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
