{% extends "shop/base.html" %}
{% block css_links %}
{% load static %}
<link rel="stylesheet" href="{% static "shop/css/oplata_info.css" %}">
{% endblock css_links %}

{% block content %}
    <!--Основная информация-->
    <div>
        <a class = opl-name>Про нас
            <img src="{% static "shop/images/Vector.png" %}" alt="і" class="icon">
        </a>

        <p class="opl-info">єКвіти — це онлайн-магазин, де кожна квітка має свою історію. Ми віримо, що щирі емоції можна передати мовою квітів, і робимо усе, щоб кожен букет дарував радість та залишав теплі спогади.
        </p>
        <p class="opl-info">Наші флористи створюють композиції з любов’ю та увагою до деталей, обираючи лише свіжі квіти від надійних постачальників. У нас ви знайдете як класичні букети для будь-якого випадку, так і унікальні дизайнерські рішення, які стануть особливим подарунком.
        </p>
        <p class="opl-info">Чому обирають саме єКвіти:
        </p>
            <ul class="opl-list">
                <li class = "opl-item">Завжди свіжі та якісні квіти;</li>
                <li class = "opl-item">Швидка доставка по місту та Україні;</li>
                <li class = "opl-item">Індивідуальний підхід до кожного клієнта;</li>
                <li class = "opl-item">Стильні композиції для будь-якого свята чи події.</li>
            </ul>
            
        <p class="opl-info">Ми дбаємо, щоб дарувати квіти було легко та приємно. З єКвіти ви можете бути впевнені, що ваш подарунок вчасно дістанеться адресата й подарує щасливу усмішку.</p>
    </div>

    <div class = 'container'>

    </div>

{% endblock content %} 

{% block scripts %}
{% endblock scripts %} 