body { 
    background: #E6ACB6 !important;
}

.nav-container .logo a, .logo .icon {
    color: #B7DCAB;
    text-shadow:
        -1px -1px 0 #7EB877,  
         1px -1px 0 #7EB877,
        -1px  1px 0 #7EB877,
         1px  1px 0 #7EB877,
         2px 4px 5px rgba(0, 0, 0, .3);

}

.info .nav-link {
    color: #B7DCAB;
    text-shadow:
        -1px -1px 0 #7EB877,  
         1px -1px 0 #7EB877,
        -1px  1px 0 #7EB877,
         1px  1px 0 #7EB877,
         2px 4px 5px rgba(0, 0, 0, .3);
}

.icons .nav-link { 
    color: #B7DCAB;
    text-shadow:
        -1px -1px 0 #7EB877,  
         1px -1px 0 #7EB877,
        -1px  1px 0 #7EB877,
         1px  1px 0 #7EB877,
         2px 4px 5px rgba(0, 0, 0, .3);
}


.back-to-top {
    background-color: #B7DCAB;
    color: #fff;
    
}

.back-to-top:hover {
    
    background-color: #7EB877;
    color: #fff;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.order-title {
    font-size: 30px;
    font-weight: 600; 
    font-family: var(--ff);
    color: #000;
    margin-top: 40px;
    margin-bottom: 40px;
}

.bg_container{
    box-sizing: border-box;
    background: linear-gradient(to right, #E5C9C3, #C5F0B7);
    text-align: center;
    border-radius: 30px;
    padding: 60px 40px;
    max-width: 850px;
    width: 90%;
    font-family: var(--ff);
}

.bg_container p:first-of-type {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    line-height: 1.4; 
    margin: 0; 
    margin-bottom: 35px; 
}

.bg_container p:last-of-type {
    background-color: #E3ABB3; 
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 50px;
    border-radius: 50px; 
    display: inline-block; 
    text-transform: uppercase; 
    margin: 0; 
}

.text{
    font-family: var(--ff);
    font-size: large;
}

.return-button {
    font-family: var(--ff);
    background-color: #D6DCBD;
    color: #fff;
    font-size: 18px;
    text-shadow:
        -1px -1px 0 #B7DCAB,  
         1px -1px 0 #B7DCAB,
        -1px  1px 0 #B7DCAB,
         1px  1px 0 #B7DCAB;
    font-weight: bold;
    padding: 18px 40px;
    border-radius: 50px; 
    cursor: pointer;
    text-transform: lowercase; 
    margin-top: 80px; 
    transition: background-color 0.2s;
    position: relative;
    z-index: 1;
}

.return-button a {
    color: #fff;
    text-decoration: none;
}

.return-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 140%;
    transform: translate(-50%, -50%);
    background: #CAEAB9;
    border-radius: 50px;
    filter: blur(45px);
    opacity: 0.8;
    z-index: -1;
    transition: background-color 0.2s;
}

.return-button:hover {
    background-color:  #B7DCAB;
    text-shadow:
        -1px -1px 0 #F58EB1,  
         1px -1px 0 #F58EB1,
        -1px  1px 0 #F58EB1,
         1px  1px 0 #F58EB1;
}

 