body { 
    background: #E6ACB6 !important;
}

.nav-container .logo a, .logo .icon {
    color: #B7DCAB;
    text-shadow:
        -1px -1px 0 #7EB877,  
         1px -1px 0 #7EB877,
        -1px  1px 0 #7EB877,
         1px  1px 0 #7EB877,
         2px 4px 5px rgba(0, 0, 0, .3);

}

.info .nav-link {
    color: #B7DCAB;
    text-shadow:
        -1px -1px 0 #7EB877,  
         1px -1px 0 #7EB877,
        -1px  1px 0 #7EB877,
         1px  1px 0 #7EB877,
         2px 4px 5px rgba(0, 0, 0, .3);
}

.icons .nav-link { 
    color: #B7DCAB;
    text-shadow:
        -1px -1px 0 #7EB877,  
         1px -1px 0 #7EB877,
        -1px  1px 0 #7EB877,
         1px  1px 0 #7EB877,
         2px 4px 5px rgba(0, 0, 0, .3);
}


.back-to-top {
    background-color: #B7DCAB;
    color: #fff;
    
}

.back-to-top:hover {
    
    background-color: #7EB877;
    color: #fff;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.order-title {
    font-size: 30px;
    font-weight: 600; 
    font-family: var(--ff);
    color: #000;
    margin-top: 40px;
    margin-bottom: 40px;
}

.bg_container{
    box-sizing: border-box;
    background: linear-gradient(to right, #E5C9C3, #C5F0B7);
    text-align: center;
    border-radius: 30px;
    padding: 60px 40px;
    max-width: 850px;
    width: 90%;
    font-family: var(--ff);
}

.bg_container p:first-of-type {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    line-height: 1.4; 
    margin: 0; 
    margin-bottom: 35px; 
}

.bg_container p:last-of-type {
    background-color: #E3ABB3; 
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 50px;
    border-radius: 50px; 
    display: inline-block; 
    text-transform: uppercase; 
    margin: 0; 
}

.text{
    font-family: var(--ff);
    font-size: large;
}

.return-button {
    font-family: var(--ff);
    background-color: #D6DCBD;
    color: #fff;
    font-size: 18px;
    text-shadow:
        -1px -1px 0 #B7DCAB,  
         1px -1px 0 #B7DCAB,
        -1px  1px 0 #B7DCAB,
         1px  1px 0 #B7DCAB;
    font-weight: bold;
    padding: 18px 40px;
    border-radius: 50px; 
    cursor: pointer;
    text-transform: lowercase; 
    margin-top: 80px; 
    transition: background-color 0.2s;
    position: relative;
    z-index: 1;
}

.return-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 140%;
    transform: translate(-50%, -50%);
    background: #CAEAB9;
    border-radius: 50px;
    filter: blur(45px);
    opacity: 0.8;
    z-index: -1;
    transition: background-color 0.2s;
}

.return-button:hover {
    background-color:  #B7DCAB;
    text-shadow:
        -1px -1px 0 #F58EB1,  
         1px -1px 0 #F58EB1,
        -1px  1px 0 #F58EB1,
         1px  1px 0 #F58EB1;
}

.bg {
  max-width: 900px;
  
  margin: 30px auto; 
  
  background-image: radial-gradient(
    ellipse 80% 80% at center, 
    #CAEAB9 0%, 
    transparent 70%
  );
  border-radius: 25px; 
  padding: 20px 0; 
}

.feedback-module {
  max-width: 700px;
  margin: 0 auto; 
  padding: 20px;
  border-radius: 25px;
  border-color: #F8C1CD;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: medium;
  color: #fff;
  background-color: transparent; 
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.feedback-module p {
  font-weight: 500;
  margin-top: 0;  
  margin-bottom: 0;
  font-size: medium; 
}

.feedback-module textarea {
    width: 100%;
    min-height: 80px;
    padding: 15px;
    border-radius: 50px;
    background-color: #F8C1CD; 
    font-family: 'Montserrat Alternates', sans-serif;
    color: #fff;
    resize: vertical;
    font-size: medium;
    border: 1px solid #F8C1CD;
}

.feedback-module textarea::placeholder {
    color: #fff;
    opacity: 1;
}

.vidguk-text {
  margin-right: 0;
  font-weight: 500;
  margin-top: 0;
  font-size: medium;
}

.send-button {
  background-color: #CAEAB9;
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s;
  align-self: flex-end; 
  margin-left: 0;
  margin-top: 0;
}

.send-button:hover {
    background-color:  #B7DCAB;
    text-shadow:
        -1px -1px 0 #F58EB1,  
         1px -1px 0 #F58EB1,
        -1px  1px 0 #F58EB1,
         1px  1px 0 #F58EB1;
}
