{% extends "shop/base.html" %}
{% block css_links %}
{% load static %}
<link rel="stylesheet" href="{% static "orders/css/zamovlenya_usp.css" %}">
{% endblock css_links %}

{% block content %}
    <div class="main">
        <h1 class="order-title">Замовлення №35467</h1>
        <div class="bg_container">
            <p class="text">Ваше Замовлення Успішне. Наші Флористи Вже Збирають Найгарніший Букет Саме Для Вас!</p>
            <p>дякуємо, що обираєте нас</p>
        </div>
        <button type="button" class="return-button">Повернутись на головний екран</button> </section>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %} 
